* {
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  max-width: 1110px;
  padding-top: 35px;
}

header a {
  display: flex;
  align-items: center;
  color: #911c1c;
}

#logo {
  font-size: 40px;
  font-weight: bolder;
  margin: 0 200px 0 60px;
}

header i {
  color: white;
  -webkit-text-stroke: 3px #911c1c;
  font-size: 32px;
  margin: 0 3px;
}

#return-main {
  display: none;
  background: #db8876;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  position: fixed;
  left: 669px;
  top: 10px;
  height: 30px;
  width: 182px;
  text-align: center;
}

#return-main p {
  margin-top: 4px;
}

#header-navbar {
  display: flex;
}

#header-navbar a {
  margin: 6px 3px 0 3px;
  font-size: 12px;
}

header span,
#photographers a span,
.photographerPage-tag a span {
  border: 1px solid #c4c4c4;
  border-radius: 50px;
  padding: 1px 6px;
  color: #911c1c;
  font-weight: bolder;
  margin-right: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  position: absolute;
  right: 100px;
  top: 48px;
  margin: 0;
  font-size: 36px;
  color: #901c1c;
}

#photographers {
  display: flex;
  flex-wrap: wrap;
}

.photographer {
  text-align: center;
  width: 310px;
  height: 345px;
  margin: 148px 90px 10px 90px;
}

.photographer img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.photographer h2 {
  font-size: 36px;
  color: #d3573c;
  font-weight: normal;
}

.photographer h3 {
  font-size: 15px;
  color: #901c1c;
  margin: 5px;
}

.photographer p {
  font-size: 12px;
  margin: 0;
}

.photographer span {
  font-size: 11px;
  color: #757575;
}

.photographer_tag {
  padding: 0 0 120px 0;
}

/* photographer page */

#photographer-page {
  justify-content: flex-start;
  display: flex;
  margin: 0 60px;
}

#presentation-photographer {
  display: flex;
  background-color: #fafafa;
  margin: 35px 0 10px 0;
  padding: 0 35px 50px 35px;
  width: 100%;
  justify-content: space-between;
}

#presentation-photographer h2 {
  color: #901c1c;
}

.photographer-name {
  font-size: 40px;
  font-weight: normal;
  color: #d3573c;
  margin: 45px 0 0 0;
}

.photographerPage-tag a {
  margin-right: 5px;
}

.open {
  background-color: #901c1c;
  height: 40px;
  color: white;
  border: transparent;
  border-radius: 5px;
  margin: 50px 400px 50px 50px;
}

.image-photographer {
  margin: 50px 0 0 200px;
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.sorting label {
  font-weight: bold;
  margin-right: 20px;
}

.sorting select {
  background-color: #901c1c;
  color: white;
  border: none;
  border-radius: 5px;
  width: 170px;
  height: 40px;
  padding: 0 10px;
}
/*
.sorting select::after {
}*/

.image-photographerBox {
  width: 300px;
  height: 300px;
  margin: 50px 50px 0 0;
  border-radius: 5px;
  object-fit: cover;
}

.box-list-image {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.video {
  width: 300px;
  height: 300px;
}

.presentation-photo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
  height: 55px;
}

.presentation-photo p {
  font-size: 20px;
}

.presentation-photo span {
  margin-right: 80px;
  font-size: 17px;
}

.likes {
  height: 70px;
  width: 355px;
  background-color: #db8876;
  position: fixed;
  right: 40px;
  bottom: 0;
  border-radius: 5px 5px 0 0;
}

/* Modal */

#modal-photographer {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* overflow: auto;*/
}

#modal-photographer .show-modal {
  display: block;
}

.bground {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

@media screen and (max-width: 764px) {
  .logo {
    position: absolute;
    top: 40px;
    left: 30px;
    margin: 0;
  }

  .header-navbar {
    flex-wrap: wrap;
    margin: 50px 30px 0 30px;
    justify-content: center;
  }

  .return-main {
    display: none;
  }

  main {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 14px;
    top: 35px;
    right: 30px;
  }

  .photographer {
    width: 100%;
    margin: 100px 0;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
